language: php

php:
#  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

install: travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit
#  - vendor/bin/phpcs --standard=phpcs.xml src

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true
