<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         failOnSkipped="true">
  <testsuites>
    <testsuite name="Dompdf Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
