#!/bin/sh
# 
#  Copyright (c) 1998, 1999
#   Sergey A. Babkin.  All rights reserved.
# 
#  Redistribution and use in source and binary forms, with or without
#  modification, are permitted provided that the following conditions
#  are met:
#  1. Redistributions of source code must retain the above copyright
#     notice, this list of conditions and the following disclaimer.
#  2. Redistributions in binary form must reproduce the above copyright
#     notice, this list of conditions and the following disclaimer in the
#     documentation and/or other materials provided with the distribution.
# 
#  THIS SOFTWARE IS PROVIDED ``AS IS'' AND WITHOUT ANY EXPRESS OR IMPLIED
#  WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF
#  MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
# 
#  Sergey A. Babkin (sab123@hotmail.com, babkin@bellatlantic.net)
# 

# Configuration file for the conversion script.
# Convert TTF fonts from source directory to Type1 fonts in the destination
# directory, converted to the specified encodings. Also generate the
# fonts.scale, fonts.dir and fonts.alias files in the destination 
# directory.

# This file is an example of configuration. It contains
# the examples of settings for all the supported languages. 
# Please check the settings and change them for
# your needs.

# The directories with source TTF files.
# The lines are formatted in 3 columns:
# - directory path
# - language name 
# - encoding of the fonts in this directory
# - optional Unicode map file name
# There should be a separate directory for each input encoding.
# No more than 10 encodings are supported now for
# one conversion.
#
# If the Unicode map file name is specified then this
# external map file will be used to encode the resulting 
# font. Otherwise the built-in table for this language 
# will be used.  If you have some special encoding map that 
# does not conform to any of the defined languages, set the
# language name to 'unknown' and encoding name to whatever
# you want to see in the X11 logical font description.
#
# NOTES:
# For Russian, Bulgarian and English (as a subset of
# Western) languages you may pile together the Unicode 
# fonts and the fonts in the Windows encoding into the same
# directory, they will be sorted out automatically. For
# the Russian and Bulgarian Unicode fonts set the
# source encoding to ibm-1251.  
#
# For Turkish, Baltic, Central European and other Western
# European languages the resulting fonts will be in
# a proper iso8859 encoding only if the source fonts
# are in Unicode. 
#
# AdobeStd encoding will work only
# for the source font in Unicode encoding which
# either have proper character names or map the
# Adobe character extensions to the expected codes
# (or both). 
# 
# The external maps work only if the source fonts
# are in Unicode, otherwise the original font's
# encoding will be preserved.
#
# Better don't use the map adobe-standard-encoding.map,
# unless you really need it, it's very incomplete.
#
# The map planes are not supported in the scripts yet.

SRCDIRS="
/SOME_DIR_WITH_cyrillic_windows_TTF_FONTS cyrillic ibm-1251
/SOME_DIR_WITH_cyrillic_koi_TTF_FONTS cyrillic koi8-r
/SOME_DIR_WITH_unicode_TTF_FONTS latin4 iso8859-4
/SOME_DIR_WITH_unicode_TTF_FONTS latin5 iso8859-9
/SOME_DIR_WITH_unicode_TTF_FONTS latin2 iso8859-2
/SOME_DIR_WITH_western_TTF_FONTS latin1 iso8859-1
/SOME_DIR_WITH_unicode_TTF_FONTS adobestd adobe-std
/SOME_DIR_WITH_weird_unicode_TTF_FONTS adobestd adobe-std adobe-standard-encoding.map
/SOME_DIR_WITH_unicode_TTF_FONTS unknown my-special some-very-special.map
"

# the directory for converted X11 fonts
DSTDIR=/usr/X11R6/lib/X11/fonts/fromttf

# The base directory of Ghostscript;
# set it to empty space if you don't want the Ghostscript fonts installed. 
# For some systems the directory is /usr/share/ghostscript.
GSDIR=/usr/local/share/ghostscript

# The font directory of Ghostscript;
# should work for all the versions of Ghostscript. Except (as always) the one 
# packaged with Red Hat Linux 6.0. For RH6.0 it should be set to either 
# /usr/share/fonts/default/ghostscript or /usr/share/fonts/default/Type1.
GSFONTDIR=$GSDIR/fonts

# The configuration directory of Ghostscript where the Fontmap file is stored;
# the example is for Ghostscript 6.0, change for the version you actually 
# have. This directory is used only to reach the Fontmap file, so if your
# installation stores the Fontmap files in the same directory as fonts
# (like Debian Linux does - isn't Linux wonderful in its differences?)
# then set it to the same value as GSFONTDIR.
GSCONFDIR=$GSDIR/6.0

# The encodings of generated files by languages
# (see the whole list of possible encodings for each
# language in the directories encoding/<language> )
#
# Here prefer windows-1251 over ibm-1251: it aliases
# to the same thing but is the name expected by
# Netscape Navigator. For the same reason prefer
# cp-866 over ibm-866.

DSTENCcyrillic="koi8-r windows-1251 iso8859-1"
DSTENClatin1="iso8859-1"
DSTENClatin2="iso8859-2"
DSTENClatin4="iso8859-4"
DSTENClatin5="iso8859-9"
DSTENCadobestd="adobe-std"

# name of foundry for generated fonts
# (for HP-UX or if you just want to use an 
# honest name change to "misc")
FOUNDRY=fromttf

# If you want to use non-standard directories with encoding
# maps and tables then set these values 

MAPDIR=
ENCDIR=

# Options:
# set the value to YES to enable, NO (or anything else) to disable

# CORRECTWIDTH - use the option "-w" of converter. Set this
#   option to NO if your fonts are well-designed. At least some
#   freeware fonts have the width metrics broken and the letters
#   look smashed into each other. If this option is set to "YES"
#   the converter tries to correct this defect but this may have slight
#   side effects on the well-designed fonts: the characters that
#   are designed to be close to each other will get wider spacing.
# REMOVET1A - remove the un-encoded .t1a files after they are converted
#   and assembled if this option set to YES
# INSTALLFONTMAP - if set to YES install the entries for the converted 
#   fonts right into the Ghostscript Fontmap file. Otherwise just
#   symlink the font files and copy Fontmap.ttf to the Ghostscript
#   directories.
# HINTSUBST - enable the hint substitution (option "-H" of 
#   converter). You may want to compare the looks of the fonts with and
#   without this option and decide what is better (see the discussion in 
#   the README file). If the fonts with this option set to YES look
#   completely empty in X11 then set this option to NO or install
#   the supplied patches.
# ENFORCEISO - try to disguise the character names according to
#   the ISOLatin1 encoding table. Set it to YES if some program
#   expects strictly the ISO names but the fonts have different
#   character names (this is not the case for X11 any more).
#   Options ENFORCEISO and ALLGLYPHS can't be both set to YES.
# ALLGLYPHS - include all the glyphs (characters) from the source
#   fonts into the resulting fonts, even if those are not
#   included into the encoding tables. If the supplied X11
#   patches are not installed this may cause font size overflow
#   in X11. So if you are not sure better leave it as NO.
#   For more details see the discussion of the option "-a".
# GENUID - automatically generate UniqueID for all the fonts.
#   Setting it to YES may be useful only for the fonts to
#   be loaded the fonts into a printer with hard disk. Be
#   advised that although unlikely the generated UniqueIDs
#   for two fonts may coincide, then the consequences will
#   be unpredictable.
# CREATEPFB - if set to YES create .pfb font files, otherwise
#   .pfa font files. The .pfb files take somewhat less disk
#   space but contain 8-bit binary data.

CORRECTWIDTH=YES
REMOVET1A=YES
INSTALLFONTMAP=YES
HINTSUBST=NO
ENFORCEISO=NO
ALLGLYPHS=NO
GENUID=NO
CREATEPFB=YES

# End of the configuration file
